<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AYCB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  
<style>
  /* Style the header */
header {
  display : flex;
  flex-direction : column;
  background-color: #666;
  padding: 13px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.divh {
display : flex;
color:white;
padding-right:5px;
padding-left:5px;
}

.command {
  display : flex;
  flex-direction : line;
  justify-content:space-between;
  #background: #ffffff;
  font-size: 15px;
}
 </style>
</head>
<body>

<div class="container">

<header>
<div>
	AIYCB - treasurer tool 
</div>
</header>

  <h2>Logout</h2>

Bey bey
</div>	

</html>
</body>